<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="misc" type="System.Configuration.DictionarySectionHandler, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <section name="uartportSet" type="System.Configuration.DictionarySectionHandler, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
  </configSections>
  <misc>
    <add key="ROMstart" value="0" />
    <add key="ROMsize" value="102400" />
    <add key="Padding" value="0" />
    <add key="VerifyEn" value="1" />
  </misc>
  <uartportSet>
    <add key="Uart-Port" value="3" />
    <add key="Uart-Baud" value="115200" />
    <add key="Uart-Dbits" value="8" />
    <add key="Uart-Parity" value="0" />
    <add key="Uart-STPbits" value="1" />
    <add key="Uart-FrameSize" value="256" />
    <add key="Uart-FrameInterval" value="100" />
  </uartportSet>
  <hexCombine>
    <add key="Form4-textbox1" value="2" />
    <add key="Form4-textbox2" value="0" />
    <add key="Form4-textbox3" value="" />
    <add key="Form4-textbox4" value="" />
    <add key="Form4-textbox5" value="combHex.ihex" />
    <add key="Form4-Combmode" value="0" />
    <add key="Form4-file0" value="" />
    <add key="Form4-file1" value="" />
    <add key="Form4-file2" value="" />
    <add key="Form4-file3" value="" />
    <add key="Form4-file4" value="" />
    <add key="Form4-file5" value="" />
    <add key="Form4-file6" value="" />
    <add key="Form4-file7" value="" />
    <add key="Form4-filesel" value="3" />
  </hexCombine>
</configuration>